@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #75DBCD;
  --main-text-color: white;
  --main-green-color: #C9DBBA;
  --secondary-bg-color: #F5CDA7;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", serif;
}

img {
  width: 100%;
  display: block;
}

ul,
ol {
  color: currentColor;
  list-style: none;
}

a {
  color: currentColor !important;
  text-decoration: none !important;
}

.error {
  color: rgb(143, 19, 19);
  font-size: 14px;
  line-height: 20px;
}

.input_error {
  border: 2px solid rgb(143, 19, 19);
  background-color: rgb(247 225 225);
  animation: error 0.3s 2;
}

@keyframes error {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-1deg);
  }

  40% {
    transform: rotate(1deg);
  }

  60% {
    transform: rotate(-1deg);
  }

  80% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}