.navbar{
    /* background: var(--main-bg-color); */
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right,var(--main-bg-color), var(--secondary-bg-color));
    padding: 0 30px 0 30px;
}

.navlink{
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo_container{
    width: 120px;
    padding-top: 14px;
}

.rounded{
    background-color: var(--main-green-color);
    color: white;
    padding: 10px;
    border-radius: 50%;
    line-height: 5px;
    box-shadow: var(--box-shadow)
    
}

.button{
    background: white;
    color: var(--main-bg-color);
    border: none;
    padding: 6px 15px;
    border-radius: 999px;
    box-shadow: var(--box-shadow)
}
