.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    background-image: var(--gradient);
    transition: all 0.3s;
}


.navlink {
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

.logo_container {
    width: 150px;
}

.rounded {
    background-color: var(--main-green-color);
    color: white;
    padding: 10px;
    border-radius: 50%;
    line-height: 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.rounded:hover {
    background-color: #c0d1b3;
    color: white;
    box-shadow: var(--box-shadow);
}

.button {
    background: white;
    color: var(--main-bg-color);
    border: none;
    padding: 6px 15px;
    border-radius: 999px;
    box-shadow: var(--box-shadow)
}

.button:hover {
    background: var(--grey-hover);
    box-shadow: var(--box-shadow)
}

.active {
    color: red !important;
}

.insertprop {
    cursor: pointer;
}

@media (max-width: 768px) {
    .navlink {
        font-size: 16px;
        gap: 30px;
    }
}

@media (max-width: 576px) {
    .navlink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        gap: 10px;
        text-align: center;
    }
}