.input input[type="text"],
.input input[type="number"],
.input textarea {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}

input[type="text"].classic,
input[type="number"].classic,
textarea.classic {
    font-size: 17px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
    outline: 1px solid gray;
}

.input [type="checkbox"] {
    width: 50px;

}

.error {
    position: absolute;
}

.error_text {
    position: absolute;
    top: 66px;
}



input[type="text"].classic:hover,
input[type="number"].classic:hover,
textarea.classic:hover {
    outline: 1px var(--main-bg-color) solid;
    box-shadow: 0px 0px 3px 3px var(--main-bg-color);
}