.container{
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    position: relative;

}

.hat{
    text-align: center;
    border-bottom: 1px solid black;
}

.close_button{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background-color: none;
}