.form {
    margin: 30px 0px 120px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: var(--box-shadow);
    align-items: center;
    border-radius: 999px;
}

.input {
    border-radius: 999px;
    border: none;
    outline: none;
    padding: 0 20px;
}

.input:hover {
    background-color: var(--grey-hover);
}


.button {
    font-size: 30px;
    border: none;
    background-image: linear-gradient(to right, var(--main-bg-color), var(--secondary-bg-color));
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 20px;
    border-radius: 999px;
    padding: 20px;
    line-height: 5px;
    background-size: 200% 100%;
    transition: color 0.3s ease;

}

.button:hover {
    animation-name: gradient-scroll;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes gradient-scroll {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.searched_el {
    position: absolute;
    top: 230px;
}

/* Responsive styles */


@media (max-width: 768px) {

    .input {
        font-size: 15px;
        width: 90%;
    }

    .form {
        flex-direction: column;
        row-gap: 10px;
        border-radius: 15px;
    }


    .button {
        font-size: 15px;
        padding: 5px 40px 5px 40px;
        align-self: center;
    }

    .searched_el {
        position: absolute;
        top: 25vh;
    }
}


@media (max-width: 480px) {

    .input {
        font-size: 16px;
        margin-left: 30px;
        width: 80%;
    }


    .button {
        font-size: 16px;
        padding: 5px 20px;
    }
}